.quarta-tela {
    display: flex;
    align-items: center;
    width: 1519.2px;
  height: 729.6px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    box-sizing: border-box;
    background-color: #F5F5F5;

  }
  
  .text-container {
    max-width: 600px;
    padding: 60px;
  }
  
  .title {
    font-size: 2rem;
    margin: 20px 0;
  }
  
  .description {
    font-size: 1.2rem;
  }
  
  .purple-text {
    color: #701DCD; 
  }
  
  .blue-text {
    color: #86B6FF; 
  }
  
  .capiquarta-image {
    width: 500px;
  height: auto;
  margin-right: 20px;
  }
  