#sextaTela {
    flex-flow: column;
    background: none;
    gap: 2rem;
    padding-inline: 5vw;
}

#sextaTela .blocoDeTexto {
    width: fit-content;
    text-align: center;
}

#sextaTela section {
    display: flex;
    gap: 2rem;
}

#Planos p {
    font-size: 1.2rem;
}

.offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    width: 18rem !important;
    height: 25rem;
    background: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    & h3 {
        background: #58D2FF;
        padding-block: 1rem;
        border-radius: 1rem 0 2rem 0;
        font-size: 1.75rem;
    }
    & h4 {
        background: #B9EBFD;
        padding-block: 4px;
        border-radius: 0 0 2rem 0;
        width: 70%;
        font-weight: 500;
    }
    & ul, div:not(.titleCard, .offerButton) {
        line-height: 2rem;
    }
    & li {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #565656;
        img {
            height: 1.25rem;
        }
    }
    & p:not(li p) {
        font-size: 1.25rem;
    }
    & .offerButton {
        width: 84%;
        background: #58D2FF;
        padding-block: 0.5rem;
        border-radius: 0.5rem;
        margin: 1rem;
        font-size: 1.75rem;
        font-weight: 700;
    }
}

#sextaTela section article:nth-child(2) {
    & h3, .offerButton {
        background: #FF486D;
    }
    & h4 {
        background: #FF91A7;
    }
}

#sextaTela section article:nth-child(3) {
    & h3, .offerButton {
        background: #C6EC3E;
    }
    & h4 {
        background: #EDFFAB;
    }
}

.titleCard {
    align-self: baseline;
    width: 90%;
}

#sextaTela .breakBar {
    width: 40%;
    background: #000000;
    margin: 0;
}

#sextaTela .backgroundLeft, #sextaTela .backgroundRight, #sextaTela .backgroundMid {
    height: 110%;
    width: 50%;
    background: url('../../images/sextaTela_bg2.webp') bottom 0 left 0/35% no-repeat;
    position: absolute;
    z-index: -1;
}

#sextaTela .backgroundLeft {
    left: 0;
}

#sextaTela .backgroundMid {
    height: 88vh;
    width: 100%;
    background: url('../../images/sextaTela_bg.webp') bottom/cover repeat-x;
    z-index: -2;
}

#sextaTela .backgroundRight {
    height: 110%;
    background: url('../../images/sextaTela_bg3.webp') top 0 right 0/35% no-repeat;
    right: 0;
}

/* Hover */

.offerButton:hover {
    cursor: pointer;
    transform: scale(1.05);
    outline: 2px solid #000000;
    transition: 0.3s;
}

@media (orientation: landscape) and (max-width: 1024px) and (max-height: 500px) {
    #sextaTela {
        height: 88vh;
        padding-block: 15% !important;
        padding-inline: 1vw;
        gap: .6rem;
    }

    #sextaTela section {
        flex-wrap: nowrap !important;
        justify-content: center !important;
    }
    
    #sextaTela .blocoDeTexto {
        & h2{
            font-size: 1.5rem;
        }
        & p {
            font-size: 1rem;
        }
    }

    .offers {
        width: 60% !important;
        height: 15rem !important;
        & h3 {
            font-size: 1.2rem !important;
        }
        & h4 {
            font-size: .8rem !important;
        }
    }

    #sextaTela section {
        margin-bottom: 2%;
    }

    #sextaTela .backgroundMid {
        height: 130vh !important;
    }

    #sextaTela .backgroundRight {
        background: url('../../images/sextaTela_bg3.webp') top 0 right 0/30% no-repeat !important;
        transform: translateY(-20%) !important;
    }
    
    #sextaTela .backgroundLeft {
        background: url('../../images/sextaTela_bg2.webp') bottom 0 left 0/30% no-repeat  !important;
        transform: translateY(10%) !important;    
    }
}

@media (orientation: portrait) {
    #sextaTela section {
        gap: 1rem;
        flex-wrap: wrap !important;
        justify-content: center;
    }

    .offers {
        width: 48%  !important;
        height: 15rem  !important;
    }
}

@media (max-width: 1150px) { 
    #sextaTela section {
        gap: 1.8rem;
    }

    .offers {
        width: 15rem !important;
        height: 23rem;
        & h3 {
            padding-block: .8rem;
        }
        & h4 {
            width: 65%;
            font-size: 1rem;
        }
        & ul, div:not(.titleCard, .offerButton) {
            line-height: 1.8rem;
        }
        & li {
            & p {
                font-size: 1rem !important;
            }
            & img {
                height: 1.1rem;
            }
        }
        & p:not(li p) {
            font-size: 1.20rem !important;
        }
        & .offerButton {
            width: 75%;
            padding-block: 0.3rem;
            font-size: 1.55rem;
        }
    }

}

@media (max-width: 860px) { 
    #sextaTela section {
        gap: 1.5rem;
    }

    .offers {
        width: 13rem !important;
        height: 21rem;
        & h3 {
            font-size: 1.45rem;
            padding-block: .5rem;
        }
        & h4 {
            font-size: .9rem;
        }
        & ul, div:not(.titleCard, .offerButton) {
            line-height: 1.5rem;
        }
        & li {
            & p {
                font-size: .85rem !important;
            }
            & img {
                height: 1rem;
            }
        }
        & p:not(li p) {
            font-size: 1.1rem !important;
        }
        & .offerButton {
            font-size: 1.35rem;
        }
    }

}

@media (max-width: 720px) { 
    #sextaTela section {
        gap: .8rem;
    }

    .offers {
        width: 10rem !important;
        height: 18rem;
        & h3 {
            font-size: 1.2rem;
            padding-block: .3rem;
        }
        & h4 {
            font-size: .8rem;
        }
        & li {
            & p {
                font-size: .8rem !important;
            }
            & img {
                height: .8rem;
            }
        }
        & p:not(li p) {
            font-size: 1rem !important;
        }
        & .offerButton {
            font-size: 1.2rem;
        }
    }

    #sextaTela .backgroundRight {
        background: url('../../images/sextaTela_bg3.webp') top 0 right 0/40% no-repeat;
        transform: translateY(5%);
    }

    #sextaTela .backgroundLeft {
        background: url('../../images/sextaTela_bg2.webp') bottom 0 left 0/40% no-repeat;
        transform: translateY(-5%);
    }
}

@media (max-width: 650px) { 
    #sextaTela {
        gap: .8rem;
        padding-inline: 3vw;
        height: 95vh;
        padding-block: 15vh;
    }

    #sextaTela .blocoDeTexto {
        & h2{
            font-size: 1.5rem;
        }
        & p {
            font-size: 1rem;
        }
    }

    #sextaTela section {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .offers {
        width: 48%;
        height: 15rem;
        & ul {
            line-height: 1.4rem;
        }
        & p:not(li p) {
            font-size: 1rem !important;
            margin-top: 1%;
        }
        & .offerButton {
            font-size: 1.1rem;
            margin-top: .5rem;
        }
    }

    #sextaTela section article:nth-child(3) {
        margin-bottom: 10%;
    }

    #sextaTela .backgroundMid {
        height: 110vh;
    }

    #sextaTela .backgroundRight {
        transform: translateY(-10%);
    }

    #sextaTela .backgroundLeft {
        transform: translateY(2%);
    }
    
    
}

@media (max-width: 450px) { 
    #sextaTela section {
        gap: .6rem;
    }

    .offers {
        & h4 {
            font-size: .7rem;
        }
        & p:not(li p) {
            font-size: .9rem !important;
        }
    }

    #sextaTela section article:nth-child(3) {
        width: 55% !important;
    }

    #sextaTela .backgroundRight {
        background: url('../../images/sextaTela_bg3.webp') top 0 right 0/45% no-repeat;
    }
    
    #sextaTela .backgroundLeft {
        background: url('../../images/sextaTela_bg2.webp') bottom 0 left 0/45% no-repeat;
    }
}