#footerPreLogin {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  background: #9B33FD;
  padding: 2vh 0 10vh 0;
  margin-top: 8vh;
  color: #FFFFFF;
  & a {
    color: #FFFFFF;
  }
  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    min-width: 290px;
    margin-bottom: 3rem;
    & ul {
      display: flex;
      flex-flow: column;
    }
  }
}

.upFooter {
  width: 100%;
  height: 16vh;
  background: url('../images/upFooter.png') left 0 bottom 0/100% repeat-x;
  position: absolute;
  margin-top: -17.8vh;
}

.footerTop, .footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  width: 80vw;
  min-width: 290px;
  & figure {
    margin-bottom: 3rem;
    & img {
      width: 24rem;
      max-width: 100%;
    }
    & p {
      font-size: 1rem;
      color: #FFFFFF;
    }
  }
}

.linkList {
  height: 10rem;
  width: 40%;
  line-height: 3rem;
}

.social {
  max-width: 100%;
  & a img {
    height: 3rem;
    margin-inline: 0.5rem;
    border-radius: 100rem;
  }
}

/* 
.footerTop, .footerBottom {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 80%;
  background: #58D2FF;
  & .logo {
    width: 24rem;
    max-width: 100%;
  }
}

.linkList {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  & a img {
    height: 3rem;
    margin-inline: 0.5rem
;
    border-radius: 100rem;
  }
}

*/

.breakBar {
  width: 80%;
  height: 2px;
  background: #FFFFFF;
  border-radius: 100;
  margin-bottom: 3rem;
}

.languageButton {
  background: #FFFFFF;
  border-radius: 0.5rem;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 40vh;
  right: 0.4vw;
  z-index: 6;

  & select {
    background: none;
    border: none;
    font-size: 1.75rem;
    padding: 0 0.5rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}