/* Geral */

.loja-container {
  position: relative;
}

#barra-energia {
  width: 12.5rem;

}

.barras {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 2rem;
}

.loja-title {
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
  z-index: 1;
  position: relative;
}

.loja-background {
  position: absolute;
  width: 100%;
  height: 12.5rem;
  background-color: #C6EC3E;
  z-index: -1;
}

/* Seção de Avatares */





.avatar-section {
  margin-top: 160px;
  background: url('./images/fundolaranja.png') no-repeat center;
}

.avatar-title {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 6rem;
}

.avatar-list {
  gap: 20px;
}

.avatar-item {
  background-color: #FFFFFF;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: 300px;
  position: relative;
}

.avatar-item img {
  max-width: 15rem;
  max-height: 12rem;
  margin-bottom: 10px;
}

.avatar-item p {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
}

.buildolars {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 60px;
  height: 40px;
}

/* Seção de Energia */

.energia-quantidade{
  font-weight: bold;

}

.energia-section {
  margin-top: 40px;
  text-align: center;
  background: url('./images/fundoazul.png') no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.energia-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.energia-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  /* Ocupa todo o espaço disponível */
}

.energia-item {
  background-color: #FFFFFF;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  width: 190px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* Adicionado para espaçamento entre as energias */
}

.energia-prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.buildolars-icon {
  width: 60px;
  height: 40px;
  margin-right: 5px;
}

.energia-price {
  display: flex;
  align-items: center;
}

.energia-old-price {
  text-decoration: line-through;
  margin-right: 5px;
}

.energia-new-price {
  font-weight: bold;
  margin-left: 5px;
}

.energia-group {
  display: flex;
  gap: 2rem;
}
.listras {
  padding-top: 2rem;
  padding-left: 80rem;
}


/* Seção de Desafios */

.missoes-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Certifique-se de que o contêiner pai tem uma altura definida */
}

.missoes-title {
  text-align: center;
  margin-bottom: 20px;
}

.desafio-item {
  background-color: #FF486D;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  text-align: left;
}

.desafio-item img {
  max-width: 100%;
  border-radius: 10px;
}

.desafio-item p {
  margin: 10px 0;
  width: 100%;
}

.desafio-texto {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  width: 22rem;
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente o conteúdo dentro da div */
  align-items: center; /* Centraliza horizontalmente o conteúdo dentro da div */
}

.desafio-preco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2rem;
}

.fundoroxo {
  padding-top: 30px;
}