header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 12vh;
    background: #F0EDF2;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 2;
    & .logo {
        height: 4rem;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}

.button {
    display: none;
    padding: 1rem 2.5rem;
    background: lightskyblue;
    border-radius: 1rem;
    color: #FFFFFF;
}

select {
    background: none;
    border: none;
    width: 10rem;
}

.languageButton {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
    gap: 1rem;
    & img {
        height: 2rem;
        margin-left: 0.5rem;
    }
}