.btnsNav{
    background-color: #d1cdd4;
    width: 100px;
    padding-inline: 1.5%;
    padding-top: 1.5%;
    text-align: center;
    align-self: flex-end;
    font-size: 20px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}