@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#headerHome {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12vh;
    background: #F0EDF2;
    position: fixed;
    top: 0;
    z-index: 3;
}

#headerHome nav {
    min-width: 950px;
}

#headerHome .logo {
    height: 4rem;
}

.btnsNav{   
    align-self: flex-end;
    position: relative;
    display: inline-block; 
}

.btnContainer {
    background-color: #D9D9D9;
    min-width: 6rem;
    width: 7vw;
    max-width: 120px;
    padding-inline: 20%;
    padding-top: 1.25rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    font-size: 1rem;
}

.btnContainer.active {
    background-color: var(--color-primaria);
    color: #FFFFFF;
    padding-bottom: 7%;
    transform: translateY(5px);
}

.after-element {
    position: absolute;
    background-color: #9B33FD;
    width: calc(100% + 600px);
    height: 30px;
    top: 100%;
    right: 0;
    transform: translateX(15%);
    z-index: -2;
    border-radius: 0 0 2.5rem 2.5rem;
    cursor: default;
}

.btnsNav:last-child {
    display: none;
}

.icon {
    font: 900 1.5rem 'Material Icons';
}

@media (max-width: 1000px) and (min-width: 700px) {
    #headerHome nav {
        min-width: 600px;
    }
    
    .btnsNav {
        margin-left: -30vw;
    }
    
    .btnContainer {
        min-width: 1rem;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
}

@media (max-width: 700px) {
    #headerHome nav {
        min-width: 0;
    }

    .btnsNav:last-child {
        display: inline-block;
    }

    .btnsNav:not(.btnsNav:last-child) {
        display: none;
    }

    .btnContainer {
        min-width: 3rem;
        padding-top: 1rem;
        font: 900 2rem 'Passion One';
    }
}
