#quartaTela {
    padding-inline: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quartaTela .section4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
}

#quartaTela .blocoDeTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(402px, 35vw, 35rem);
}

#quartaTela {
    & h2 {
        font-size: clamp(1.5rem, 4vw, 2rem);
    }

    & p {
        font-size: clamp(1rem, 1.2vw, 1.2rem);
        background-color: #ffffff;
    }
}

.figuraVivi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ViviApresenta{
    width: clamp(13rem, 70%, 23rem);
    object-fit: contain;
}

#quartaTela .backgroundLeft, #quartaTela .backgroundRight {
    height: 88vh;
    width: 50%;
    position: absolute;
    z-index: -1;
}

#quartaTela .backgroundRight {
    background: url('../../images/quartaTela_bg2.webp') top 0 right 2.5%/auto 30% no-repeat;
    right: 0;
}

#quartaTela .backgroundLeft {
    background: url('../../images/quartaTela_bg.webp') bottom 0 left 2.5%/auto 30% no-repeat;  
    left: 0;
}

@media (orientation: landscape) {
    #quartaTela .section4 {
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
}

@media (orientation: landscape) and (max-width: 1024px) and (max-height: 500px) {
    #quartaTela {
        & h2 {
            font-size: 1.4rem;
        }
    
        & p {
            font-size: .9rem;
        }
    }
}

@media (orientation: portrait) and (max-width: 903px) {
    #quartaTela .blocoDeTexto {
        width: 100%;
        text-align: center;
    }  
    #quartaTela .backgroundLeft {
        background: url('../../images/quartaTela_bg.webp') bottom 0 left 2.5%/auto 18% no-repeat;
    }
    
    #quartaTela .backgroundRight {
        background: url('../../images/quartaTela_bg2.webp') top 0 right 2.5%/auto 18% no-repeat;
    }
}