@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container_conteudo6 {
    /* background-image: url("/src/pages/conteudo/imagem/Rectangle\ 1382.png"); */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin-top: -12vh;
    padding-top: 0;
}

.vivi {
    display: flex;
    justify-content: flex-start;
}

.message-container-miniGame * .vivi_img {
    width: 180px;
    height: 180px;
    z-index: 1;
}

.message-box {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 23px 23px 23px 23px;
    flex-direction: column;
    border: #000 4px solid;
    animation: expand2 1s forwards;
    overflow: hidden;
    left: 200px;
    height: 150px;
    top: 0px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 12px;
}

@keyframes expand2 {
    from {
        width: 0;
    }

    to {
        width: 650px;
    }
}

.bgAtividade {
    max-width: 1500px;
    background: linear-gradient(160deg, rgba(255,255,255,1) 23%, rgba(217,217,217,1) 50%, rgba(238,238,238,1) 58%, rgba(224,224,224,1) 67%, rgba(255,255,255,1) 89%);
    padding-block: 1%;
    border: 1rem solid #929292;
    border-image: linear-gradient(90deg, rgba(208,216,218,1) 2%, rgba(239,240,240,1) 17%, rgba(208,216,218,1) 30%, rgba(239,240,240,1) 47%, rgba(208,216,218,1) 62%, rgba(239,240,240,1) 77%, rgba(208,216,218,1) 98%) 1;
    border-spacing: 2;
    margin: 2vh auto 0;
    & > p{
        padding-inline: 0.5rem;
        font: 400 2rem "Permanent Marker";
        text-align: center;
    }
}

.horarios {
    font: 400 2rem "Permanent Marker";
    text-align: center;
}

.atividade {
    display: flex;
    flex-direction: column-reverse;
    gap: 2vh;
    padding-block: 1%;
}

#buttonsWhiteboard {
    width: 98%;
    height: 2rem;
    margin: 0 auto;
}

.container_conteudo6 button {
    background: none;
    border: 0;
    z-index: 2;
}

.container_conteudo6 .anteriorGame {
    background: url('./imagem/scribble.png') bottom/auto 30% no-repeat;
    padding-bottom: 0.5rem;
    font: 400 1rem "Permanent Marker";
    text-align: center;
    color: blue;
}

.container_conteudo6 .eraser {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column;
    width: 8.5rem;
    min-height: 2.5rem;
    background: #a7a7a7;
    border-radius: 1rem 1rem 0 0;
    margin-top: -14vh;
    position: absolute;
    right: 2%;
    font: 500 0.9rem 'Poppins';
    color: #565656;
    & div {
        background: #565656;
        height: 0.5rem;
        width: 105%;
    }
}

/* 
.alinhamento_drop3{
    background-image: url("/src/pages/conteudo/imagem/Group\ 280.png");
    background-repeat: no-repeat;
    background-position: right;
    z-index: 1;
    width: 900px;
    height: 500px;
    background-size: contain;

} */

.digDir {
    transform: rotate(15deg);

}

.digEsq {
    transform: rotate(-15deg);
}

.textoPost {
    display: flex;
    justify-content: center;
    /* Alinha horizontalmente */
    align-items: center;
    /* Alinha verticalmente */
    height: 100%;
    /* Garante que o elemento ocupe toda a altura do contêiner pai */
    width: 100%;
    font: 400 1.25rem 'Handlee';
    border-top: #f5cc01 30px solid;
    text-align: center;

}

.draggable-item {
    background-color: #ffd500;
    width: 8.5rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Necessário para os pseudo-elementos */
    overflow: hidden;
    /* Esconde a parte do pseudo-elemento que sai do contorno */
    /* box-shadow: 5px 15px 13px rgba(0, 0, 0, 0.2); */

}

.draggable-item.temDobrado {
    border-bottom-right-radius: 25%;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    & ::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 30px solid #ffd700;
        /* Cor do post-it */
        border-right: 30px solid transparent;
        transform: translate(35%, 25%) rotate(95deg);
        box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.1);
        /* Sombra para o efeito de dobra */
    }
}


.draggable-item.dragging {
    /* cursor: grabbing !important; */
    animation: 1s pendurado ease-in-out infinite;
}

.droppable-area.over {
    background-color: rgba(255, 215, 0, 0.3);
    animation: 2s pulse-color ease-in-out infinite;
}

@keyframes pulse-color {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@keyframes pendurado {

    0%,
    100% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }
}



.droppable-area-1, .droppable-area-2, .droppable-area-3, .droppable-area-4, .droppable-area-5, .droppable-area-6 {
    /* background-color: rgb(168, 164, 164); */
    width: 200px;
    height: 30px;
    margin: 5px;
    text-align: center;
}

.droppable-area-7, .droppable-area-8, .droppable-area-9, .droppable-area-10, .droppable-area-9, .droppable-area-12{
    /* border-bottom: 1px solid #000; */
    width: 200px;
    height: 30px;
    /* margin: 10px; */
    /* margin-left: 650px;
    margin-top: 100px; */
}

.alinhamento_drop {
    /* width: 100%; */
    /* display: flex; */
    /* width: 600px; */
    /* margin-top: 100px;
    margin-left: 200px; */
    /* gap: 40px; */
}

.buttonreset {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; */
    /* width: 100%; */
}

.resetaStorage {
    width: 200px;
    border-radius: 15px;
    background-color: #9B33FD;
    border: 3px solid #000;
    margin-left: 630px;
    margin-top: 20px;
}

.drop1 {
    /* width: 100%; */
    /* position: absolute; */
    /* bottom: 50px; */
    /* left: -300px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 40px; */
    flex-wrap: wrap;
}

.drop1,
.drop3 {
    gap: 3rem;
}

.drop1 *.tchau,
.drop3 *.tchau{
    background-image: url('./imagem/RestosPost-it.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* & > p{
        font: 400 2rem "Permanent Marker";
        text-align: center;
    } */
}

.oi{
    background-image: none;
}

.drop3 {
    /* width: 100%; */
    /* position: absolute; */
    /* bottom: 50px; */
    /* left: -300px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 50px; */
    flex-wrap: wrap;
    /* padding: 80px; */
}

.droppable-area {
    width: 130px;
    height: 130px;
}