
* {
    padding: 0;
    margin: 0;
  }
  
 .recepcao{
  font-size: 20px;
  display: flex;
  padding-bottom: 20px;
  justify-content: center
  
 }

/* p{
  display: flex;
  flex-direction: column;
  align-items: center
} */

.corredor{
  color: #fff;
  background-color: #FFD600;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  height: 50px;
  font-size: medium;
}

.vivi{
  display: flex;
  justify-content:flex-start;
  padding-top: 0px;
  padding-bottom: 30px;
}
.capi {
  height: 200px;
  
}

.perfil_usuario {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px; /* Adicione padding conforme necessário para espaçamento */
  background-color: #ffffff; /* Cor de fundo opcional */
}
.perfil{
  height: 200px;
}

.escolha{
  background-color: #58D2FF;
  height: 180px;
  width: 500px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 200px;
  border-radius: 0px 0px 60px 0px;
  flex-direction: column;
  box-shadow:  0px 5px 5px -3px rgb(26, 25, 25) ;
}

.escolha1{
  height: 50px;
  border-radius: 15px;
  width: 200px;

}

.botao1{
  display: flex;
  padding-bottom: 30px;
  padding-top: 20px;
}

.escolha2{
  height: 50px;
  border-radius: 15px;
  width: 200px;
}
.corredor_c6,
  .proximo,
  .anterior {
    color: #fff;
    background-color: #FFD600;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 50px;
    font-size: medium;
  }
  
  .corredor_c6 {
    top: 250px;
    position: fixed;
  }
  
  .proximo {
    bottom: 240px;
    right: 30px;
    position: fixed;
  }
  
  .anterior {
    bottom: 240px;
    left: 30px;
    position: fixed;
  }
  
  .anterior:hover {
    background-color: #701DCD;
    color: #fff;
  }
  

  .message-container {
    display: flex;
    flex-direction: column;
    top: 80px;
    left: 200px;
    width: 500px;
    position: fixed;
    background-color: #58D2FF;
    border-radius: 0px 0px 64px 0px;
    box-shadow:  0px 5px 5px -3px rgb(26, 25, 25) ;
  }

  .message-container2 {
    display: flex;
    flex-direction: column;
    top: 80px;
    left: 200px;
    width: 500px;
    position: fixed;
    background-color: #DDEAEF;
    border-radius: 0px 0px 64px 0px;
    box-shadow:  0px 5px 5px -3px rgb(26, 25, 25) ;
  }
  
  .message-box,
  .message-box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .message-box p {
    display: flex;
    margin: 0;
    flex-grow: 1;
  }
  

  

  .atividade,
  .atividade_c6 {
  
    flex-direction: column;
    display: flex;
    align-items: center;
    position: fixed;
    left: 650px;
    right: 250px;
    bottom: 10px;
    height: 470px;
  }
  
  .texto1 {
    position: absolute;
    bottom: 40px;
    right: 550px;
    padding-top: 15px;
  }
  
  .t1 {
    padding-top: 80px;
  }
  
 
  .t2 {
    padding-top: 95px;
  }
  
  .prancheta {
    height: 500px;
    width: 500px;
    z-index: -1;
  }

  .exemplo{
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2px;
    right: 150px;
  }
  
  .prancheta2 {
    height: 600px;
    width: 500px;
    z-index: -1;
  }

  .area_pratica{
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2px;
    right: -100px;

  }
  .tela2,
  .tela3,
  .tela4,
  .tela5,
  .tela1 {
    margin: 0;
      height: 100vh;
      width: 100%;
      background-size: cover; /* Faz a imagem ocupar toda a tela */
      z-index: -1;
      position: absolute;
      top: 0px;
      left: 2px;
      
  }

  .tela6 {
    margin: 0;
      height: 100vh;
      width: 100%;
      background-size: cover; /* Faz a imagem ocupar toda a tela */
      z-index: -1;
      position: absolute;
      bottom: -250px;
      left: 2px;
      
     
  }



  
  .droppable-area {
    background-color: #f9f9f9;
    border: 1px dashed #ccc;
    padding: 16px;
    margin: 8px;
    min-height: 50px;
    
  }
  
  .droppable-area.over {
    background-color: #e0e0e0;
  }
  
  .drop1 {
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: -400px;
    display: flex;
    flex-direction: column;
  }

  .alinhamento_drop1{
    width: 200px;
    position: absolute;
    bottom: 5px;
    right: 50px;
    display: flex;
    
  }
  .drop2 {
    width: 200px;
    position: absolute;
    bottom: 50px;
    left: -300px;
    display: flex;
    flex-direction: column;
  }

  .drop3 {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: flex-end;
  }
  .alinhamento_drop3 {
    width: 200px;
    position: absolute;
    bottom: 40px;
    right: 50px;
    padding-top: 40px;
  }

