*{
    padding: 0;
    margin: 0;
}

.cabecalho{
background-color: #58D2FF;
align-items: center;
display: flex;
flex-direction: row;
justify-content: space-evenly;
height: 100px;
}

.voltar{
    color:#ffff;
    background-color: #FFD600;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 50px;
    font-size: medium;
}

.voltar:hover{
    background-color: #701DCD;
    color: #FFff;
}

h2{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.message-container {
        font-size: 16px;
        position: fixed;
        bottom: 180px;
        left: 200px; 
        width: 200px;
        background-color: #EAEDF2;
        color: #721c24;
        border: 1px solid  #EAEDF2;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: 300px;
      
  }

  .message-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .message-box p {
    display: flex;
    align-items: end;
    margin: 0;
    flex-grow: 1;
  }

.message-container2{
    font-size: 16px;
        position: fixed;
        bottom: 50px;
        left: 200px; 
        width: 200px;
        background-color: #EAEDF2;
        color: #721c24;
        border: 1px solid #EAEDF2;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: 500px;

}

.message-box2{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.capi{
    height: 200px;
    position: fixed;
    bottom: 20px;
    left: 20; 
    width: 200px;
  }
  