* {
    padding: 0;
    margin: 0;
  }
  
.Container{
    /* background-image: url("/src/pages/conteudo/imagem/Página\ da\ prática\ gestão\ do\ tempo.png"); */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin-top: -12vh;
}

.cabecalho{
    display: flex;
    margin-left: 5px;
}

.vivi{
    display: flex;
    justify-content:flex-start;
}


.vivi_img{
    width: 200px;
    height: 200px;
    z-index: 1;
    margin-top: 10px;
    margin-left: 10px;
}

.message-box2{
    background-color: #58D2FF;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 23px 23px 23px 23px;
    flex-direction: column;
    border: #000 3px solid;
    animation: expand2 1s forwards;
    overflow: hidden; 
    left: 200px;
    height: 150px;
    top: 10px;
    padding: 10px;
    margin-left: 20px;
}

@keyframes expand2 {
    from {
        width: 0; 
    }
    to {
        width: 650px; 
    }
}
.text_recepçao{
    opacity: 0; 
    animation: expand4 1s forwards;
    animation-delay: 0.5s; 
}

@keyframes expand4 {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.container_perfil *{
    display: flex;
    margin-left: 5px;
}

.perfil{
    height: 200px;
    margin-left: 10px;
}
  
.perfil_usuario {
    position: absolute;
    opacity: 0;
    bottom: 10px;
    z-index: 1;
    background-color: #ffffff;
    animation: expand5 1s forwards;
    animation-delay: 1.5s; 
}

@keyframes expand5 {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.anterior, .proximo, .corredor {
    border-radius: 22px;
    width: 8rem;
    height: 3rem;
    background-color: #FF486D;
    color: #ffffff;
    
}

.botoesDireciona {
    position: absolute;
    bottom: 15px;
}
.imgPlanilha{
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 23%;
}

.classebg1{
    background-image: url('./imagem/bgPlanilha.png');
    background-size: auto;
    background-position: center;

}

.classebg2{
    background-image: url('./imagem/bgGestaoDeTempo.png');
    background-size: 60%;
    background-position: center;

}

.classebg3{
    background-image: url('./imagem/bgEscritorio.png');
    background-size: 50%;
    background-position: center;

}

.classebg4{
    background-image: url('./imagem/bgLugar.png');
    background-size: contain;
    background-color: #E9D7C9;
    background-position: center;

}