* {
    padding: 0;
    margin: 0;
}

.cabecalho {
    background-color: #58D2FF;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
}

.corredor,
.corredor_c6,
.proximo,
.anterior {
    color: #fff;
    background-color: #FFD600;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 50px;
    font-size: medium;
}

.corredor_c6 {
    top: 250px;
    position: fixed;
}

.proximo {
    bottom: 240px;
    right: 30px;
    position: fixed;
}

.anterior {
    bottom: 240px;
    left: 30px;
    position: fixed;
}

.anterior:hover {
    background-color: #701DCD;
    color: #fff;
}

.message-container,
.message-container_c2,
.message-container_c4,
.message-container_c6 {
    font-size: 16px;
    background-color: #EAEDF2;
    color: #721c24;
    border: 1px solid #EAEDF2;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.message-container {
    bottom: 180px;
    left: 200px;
    width: 300px;
    position: fixed;
}

.message-container_c2,
.message-container_c4 {
    bottom: 50px;
    left: 200px;
    width: 500px;
    position: fixed;
}

.message-container_c6 {
    top: 30px;
    left: 200px;
    width: 500px;
    position: fixed;
}

.message-box,
.message-box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-box p {
    display: flex;
    align-items: end;
    margin: 0;
    flex-grow: 1;
}

.capi {
    height: 200px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
}

.capi_c6 {
    top: 30px;
}

.atividade,
.atividade_c6 {
    background-color: #FFB412;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: fixed;
    left: 650px;
    right: 250px;
    bottom: 10px;
    height: 470px;
}

.texto1 {
    position: absolute;
    bottom: 40px;
    right: 550px;
    padding-top: 15px;
}

.t1 {
    padding-top: 80px;
}

.texto2 {
    position: absolute;
    bottom: 80px;
    right: 250px;
}

.t2 {
    padding-top: 95px;
}

.prancheta {
    height: 500px;
    width: 500px;
    position: fixed;
    bottom: 10px;
    left: 200px;
}

.prancheta2 {
    height: 500px;
    width: 500px;
    position: fixed;
    bottom: 10px;
    left: 200px;
}

.tela1 {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 500px;
    bottom: 10px;
    height: 500px;
}

.droppable-area {
    background-color: #f9f9f9;
    border: 1px dashed #ccc;
    padding: 16px;
    margin: 8px;
    min-height: 50px;
}

.droppable-area.over {
    background-color: #e0e0e0;
}
