#Conexoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Conexoes p:not(#headerHome p) {
    font-size: 1rem;
}

#Conexoes .pesquisa {
    font-size: 1.25rem;
}

.containerAmarelo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 130px;
    background-color: #FFB412;
    align-items: center;
}

#historico {
    margin-top: 20px;
    margin-left: 40px;
    border-bottom: 3px solid #000;
}

.containerAmarelo h2 {
    margin-top: 30px;
    margin-left: 80px;
}

.containerAmarelo img {
    display: flex;
    margin-top: 38px;
}

.video-container {
    margin: 10px;
}

.Container-conexoes {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Video-Esquerdo {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao button {
    width: 300px;
    height: 50px;
    border-width: 3px;
    border-radius: 15px;
}

.forma2 {
    position: absolute;
    top: 10px;
}

.Seja-voluntario {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: auto 100px;
}

.textoVoluntario {
    margin: 20px;
    padding: 10px;
    width: 400px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forma2 {
    position: absolute;
    margin-top: 600px;
}

.textoVoluntario button {
    margin-top: 50px;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #FFB412;
    font-size: 15px;
    cursor: pointer;
    color: aliceblue;
}

.textoVoluntario h3 {
    margin-bottom: 10px;
    border-bottom: 3px solid #000;
}

.textoVoluntario button:hover {
    background: #ffae00;
}

.video-container iframe {
    width: 600px;
    height: 300px;
}

.Video-Esquerdo iframe {
    width: 300px;
    height: 150px;
}

@media screen and (max-width: 944px) {
    .Container-conexoes {
        display: flex;
        flex-direction: column;
    }

    .Video-Esquerdo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .containerAmarelo {
        width: 100%;
    }

    .Seja-voluntario {
        display: flex;
        flex-direction: column;
    }
    
    .Seja-voluntario img {
        width: 55%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 658px) {
    .video-container iframe {
        width: 300px;
        height: 150px;
    }

    #Conexoes {
        width: 100%;
    }

    .Video-Esquerdo {
        display: flex;
        flex-direction: column;
    }

    #conexoes {
        width: 100%;
    }

    #headerHome {
        width: 100%;
    }
}