#Conexoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerAmarelo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 130px;
    background-color: #FFB412;
    align-items: center;
}

#historico{
    margin-top: 20px;
    margin-left: 40px;
}

.containerAmarelo  h2{
    margin-top: 30px;
    margin-left: 80px;
}

.containerAmarelo img{
    display: flex;
    margin-top: 38px;
}

.video-container{
    margin: 10px
}
.Container-conexoes{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Video-Esquerdo{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao button{
    width: 300px;
    height: 50px;
    border-width: 3px;
    border-radius: 15px;
}

.forma2{
    position: absolute;
    top: 10;
}

.Seja-voluntario{
    height: 100;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.Seja-voluntario .textoVoluntario{
    margin: 20px;
    padding: 10px;
    width: 400px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forma2{
position: absolute;
margin-top: 600px;
}

.textoVoluntario button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #FFB412;
}
