.containerPesquisar {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
  }
  
  .input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 30px;
    background-color: #ccc;
    border: none;
  }
  
  .buttonPesquisar {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFB412;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
  }
  
  .results {
    margin-top: 20px;
    width: 80%;
  }
  
  .result-item {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
      
