#Cadastro header{
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff; 
    width: 100%;
    height: 30px;
}

#Cadastro article h3{
    color: #000;
}

.CormaCadastro1{
    position: absolute;
    left: 0;
    bottom: 0;
}

.formaCadastro2{
    position: absolute;
    right: 0;
    top: 0;
}

#Cadastro header .logo {
    margin-top:3%;
    max-width: 100%;
    height: 130%;
    max-height: 100px; 
}

#Cadastro header .formaCadastro2{
    display: flex;
    align-items: flex-end;
}

#Cadastro article {
    display: flex;
    align-items: center;
    position: relative;
    width: 600px; 
    height: 300px; 
    margin: 50px auto;
}

#Cadastro img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.caixa-esquerda-cadastro h1 {
    padding: 290px 140px;
    background-color: #29F39B;
    background-image: url('../img/Group-formas.png');
    background-position: center;
    color: #f3f3f3;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(85, 85, 85);
    position: relative;
    width: 60%; /* Ajuste conforme necessário */
    height: 100%;
}

.caixa-direita-cadastro h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

.caixa-direita-cadastro h3 {
    float: left;
}

.caixa-direita-cadastro p {
    display: flex;
    flex-direction: column;
}

.caixa-direita-cadastro button {
    border: none;
    color: #1C0240;
    font-size: 13px;
}

.caixa-direita-cadastro button:hover {
    color: #059c5b;
}
#submit{
    color: #000;
    background-color: #29F39B;
}

#submit:hover{
    color: #000;
    background-color: #00ff91;
}
.caixa-direita-cadastro {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 4px rgba(85, 85, 85, 0.466);
    border-radius: 10px;
    position: relative;
    width: 60%; /* Ajuste conforme necessário */
    height: 500px;
    background-color: #f3f3f3;
    margin-left: -4%; /* Ajuste conforme necessário */
    z-index: 1;
}
.checkbox-group   #aceitar_politicas{
    border: none;
    box-shadow: none;
    width: 20px;
    height: 20px;
}
.checkbox-group{
    display: flex;
    flex-direction: row;
}

 .checkbox-group  a{
    color: #000;
    text-decoration: none;
}

.caixa-direita-cadastro input,
input[type="email"],
input[type="password"] {
    margin: 12px;
    width: 250px;
    height: 40px;
    border: none;
    box-shadow: 3px 3px 4px rgba(85, 85, 85, 0.466);
    border-radius: 8px;
    text-align: center; /* Centralizar o texto do placeholder horizontalmente */
    line-height: 40px; /* Ajustar a altura da linha para centralizar verticalmente */
}