#primeiraTela {
    background: url('../../images/primeiraTela_bg.webp') no-repeat;
    background-size: contain;
    background-position: right top;
}

#primeiraTela .section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: auto;
}

#primeiraTela .blocoDeTexto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: clamp(20rem, 50%, 40rem);
}

#primeiraTela h1 {
    font-size: clamp(2rem, 4vw, 4rem);
}    

#primeiraTela h1::after {
    content: '';
    display: block;
    margin-top: 2%;
    width: 60%;
    height: 2px;
    background: linear-gradient(90deg, #000000 90%, #FFFFFF 90%, #FFFFFF 92%, #000000 92%, #000000 94%, #FFFFFF 94%, #FFFFFF 96%, #000000 9%);
}

#primeiraTela nav {
    display: flex;
    align-items: center;
    text-align: center;
    gap: clamp(1rem, 5%, 5rem);

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(8rem, 15vw, 16rem);
        height: clamp(2.8rem, 4vw, 4rem);
        border-radius: 1rem;
    }
}

.buttonCadastro {
    background: #58D2FF;
    outline: 2px solid #000000;
    font-size: clamp(1.1rem, 2vw, 2rem);
    font-weight: 600;
}

.buttonLogin {
    outline: 2px solid #000000;
    font-size: clamp(.6rem, 1.2vw, 1.2rem);
    font-weight: 700;
}

#primeiraTela figure{
    width: clamp(14rem, 26%, 21rem);   
    height: max-content;
    & img {
        width: 100%;
    }  
}

#primeiraTela .backgroundLeft {
    background: url('../../images/primeiraTela_bg2.webp') bottom 4% left 2%/auto 20% no-repeat;
}

/* Hover */

#primeiraTela nav div:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}

@media (orientation: landscape) {
    #primeiraTela .section1{
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #primeiraTela h1 {
        text-align: start;
    }    

    #primeiraTela figure{
        width: clamp(11rem, 26%, 21rem);   
    }
}

@media (orientation: portrait) and (max-width: 679px){
    #primeiraTela .section1{
        justify-content: center;
        gap: 0;
    }
    
    #primeiraTela .blocoDeTexto {
        align-items: center;
        gap: 1.5rem;
        background-image: linear-gradient(to right, transparent 50%, white 50%);
        border-radius: 0 30px 30px 0;
    }

    #primeiraTela h1 {
        text-align: center;
    }   

    #primeiraTela h1::after {
        margin: 0 auto;
        width: 100%;
    }

    #primeiraTela figure{
        width: clamp(14rem, 26%, 21rem);   
        margin-left: 15%;
    }

    #primeiraTela .backgroundLeft {
        background: url('../../images/primeiraTela_bg2.webp') bottom 0 left 2%/auto 13% no-repeat;
    }
}