#primeiraTela {
    background: url('../../images/primeiraTela_bg.webp') no-repeat;
    background-size: contain;
    background-position: right top;

    & img {
        height: 30rem;
    }
}

#primeiraTela .section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: auto;
}

#primeiraTela .blocoDeTexto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40rem;
}

#primeiraTela h1 {
    font-size: 4rem;
}

#primeiraTela h1::after {
    content: '';
    display: block;
    margin-top: 2%;
    width: 60%;
    height: 2px;
    background: linear-gradient(90deg, #000000 90%, #FFFFFF 90%, #FFFFFF 92%, #000000 92%, #000000 94%, #FFFFFF 94%, #FFFFFF 96%, #000000 9%);
}

#primeiraTela nav {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16rem;
        height: 4rem;
        border-radius: 1rem;
    }
}

.buttonCadastro {
    background: #58D2FF;
    outline: 2px solid #000000;
    font-size: 2rem;
    font-weight: 600;
}

.buttonLogin {
    outline: 2px solid #000000;
    font-weight: 700;
}

#primeiraTela .backgroundLeft {
    background: url('../../images/primeiraTela_bg2.webp') bottom 4% left 2%/auto 20% no-repeat;
}

/* Hover */

#primeiraTela nav div:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}


@media (max-width: 1230px) { 
    #primeiraTela .section1 { 
        justify-content: center; 
        gap: .5rem;
    }
    #primeiraTela .blocoDeTexto{
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, transparent 50%, white 50%);
        border-radius: 0 30px 30px 0;
    }

    #primeiraTela h1 {
        text-align: center;
    }
    
    #primeiraTela h1::after {
        margin: 0 auto;
        width: 100%;
    }
    #primeiraTela img{
        padding-left: 20%;
    }
}

@media (max-width: 960px) { 
    #primeiraTela {
        & h1{
            font-size: 3.8rem;
        }

        & img {
            height: 25rem;
        }
    }
    #primeiraTela .backgroundLeft {
        background: url('../../images/primeiraTela_bg2.webp') bottom 4% left 2%/auto 15% no-repeat;
    }
}

@media (max-width: 760px) { 
    #primeiraTela .section1 { 
        transform: translateY(-5%);
    } 
    #primeiraTela {
        & h1{
            font-size: 3.5rem;
        }
        nav {  
            & div {
                width: 12rem;
                height: 3rem;
            }
        }
    }

    .buttonCadastro {
        font-size: 1.5rem;
    }
    
    .buttonLogin {
        font-size: 1rem;
    }
}

@media (max-width: 560px) { 
    #primeiraTela img{
        height: 20rem;      
    }   
}

@media (max-width: 460px) { 
    #primeiraTela .section1 { 
        transform: translateY(-9%);
    } 
    #primeiraTela .blocoDeTexto{
        width: 100%;
        gap: 1.3rem;
    }

    #primeiraTela {
        & h1{
            font-size: 2.5rem;
        }
        nav {  
            & div {
                width: 8rem;
                height: 2.8rem;
            }
        }
    }

    .buttonCadastro {
        font-size: 1rem;
    }
    
    .buttonLogin {
        font-size: .6rem;
    }

    #primeiraTela img{
        height: 16rem;      
    }
}

/* @media (orientation: landscape) {
    #primeiraTela .section1{
        flex-wrap: nowrap;
    }
    #primeiraTela h1 {
        font-size: clamp(2rem, 4vw, 4rem);
    }    
    #primeiraTela figure{
        width: clamp(11rem, 26%, 21rem);   
        & img {
            width: 100%;
        }  
    }
    #primeiraTela .blocoDeTexto{
        width: clamp(20rem, 50%, 40rem);
    }
    
} */


@media (orientation: landscape) and (max-width: 1024px) and (max-height: 500px) {
    #primeiraTela .section1 {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #primeiraTela {
        h1 {
            font-size: 2rem;
            text-align: start;
        }

        & img {
            height: 15rem;
        }

        nav {
            gap: 1rem;

            & div {
                width: 9rem;
                height: 2.5rem;
                border-radius: .7rem;
            }
        }

    }

    #primeiraTela .blocoDeTexto {
        width: 20rem;
        align-items: normal;
    }

    #primeiraTela h1::after {
        width: 60%;
        margin: 0;
        margin-top: 3%;
    }

    .buttonCadastro {
        font-size: 1.2rem;
    }

    .buttonLogin {
        font-size: .7rem;
    }
}