@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#headerHome {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 12vh;
    background: #F0EDF2;
    position: fixed;
    top: 0;
    z-index: 3;
}

#headerHome .logo {
    height: 4rem;
}

#headerHome nav {
    display: flex;
    align-items: center;
    width: 100%; /* Ajuste para garantir 100% da largura */
    max-width: 100vw; /* Ajuste para garantir 100% da largura */
}

.btnsNav {
    align-self: flex-end;
    position: relative;
    display: inline-block;
}

.btnContainer {
    background-color: #D9D9D9;
    min-width: 6rem;
    width: 7vw;
    max-width: 120px;
    padding-inline: 20%;
    padding-top: 1.25rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    font-size: 1rem;
}

.btnContainer.active {
    background-color: var(--color-primaria);
    color: #FFFFFF;
    padding-bottom: 7%;
    transform: translateY(5px);
}

.after-element {
    position: absolute;
    background-color: #9B33FD;
    width: calc(100% + 600px);
    height: 30px;
    top: 100%;
    right: 0;
    transform: translateX(15%);
    z-index: -2;
    border-radius: 0 0 2.5rem 2.5rem;
    cursor: default;
}

.btnsNav:last-child {
    display: none;
}

.icon {
    font: 900 1.5rem 'Material Icons';
}

/* Media Query para larguras menores */

@media (max-width: 320px) {
    #headerHome nav {
        width: 100%; /* Garanta que o menu ocupe toda a largura */
    }

    .btnsNav {
        margin-left: 0; /* Remova qualquer margem */
    }

    .btnContainer {
        width: auto; /* Ajuste a largura automaticamente */
        padding: 1rem;
        font-size: 0.8rem; /* Reduza o tamanho da fonte para caber melhor */
    }
}

@media (max-width: 1000px) and (min-width: 700px) {
    #headerHome nav {
        min-width: 600px;
    }
    
    .btnsNav {
        margin-left: -30vw;
    }
    
    .btnContainer {
        min-width: 1rem;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
}

@media (max-width: 700px) {
    #headerHome nav {
        min-width: 0;
    }

    .btnsNav:last-child {
        display: inline-block;
    }

    .btnsNav:not(.btnsNav:last-child) {
        display: none;
    }

    .btnContainer {
        min-width: 3rem;
        padding-top: 1rem;
        font: 900 2rem 'Passion One';
    }
}

.SobreNos {
    background-color: #58D2FF;
    padding: 40px 20px;
}

.SobreNos h1 {
    color: #333;
    margin-bottom: 20px;
}

.SobreNos .content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.SobreNos .text-section {
    max-width: 60%;
}

.SobreNos .content h2 {
    color: #000;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.SobreNos .content p {
    color: #555;
    font-size: 1.2em;
    line-height: 1.6;
}

.SobreNos .content strong {
    color: #000;
}

.SobreNos .ver-mais {
    display: inline-block;
    margin-top: 10px;
    color: #9D38FD;
    text-decoration: none;
    font-weight: bold;
}

.SobreNos .ver-mais:hover {
    text-decoration: underline;
}

.SobreNos .mascot {
    width: 30%;
    height: auto;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .SobreNos .content {
        flex-direction: column;
        text-align: center;
    }

    .SobreNos .text-section {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .SobreNos .mascot {
        margin-left: 0;
    }
}

/* New section styles */

.OurWork {
    background-color: #C6EC3E;
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.OurWork h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

.OurWork .intro {
    color: #333;
    margin-bottom: 40px;
    font-size: 1.2em;
    text-align: center;
}

.OurWork .work-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OurWork .work-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    flex-direction: column;
}

.OurWork .work-item img {
    width: 20%;
    height: auto;
    margin-bottom: 20px;
}

.OurWork .work-item h3 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.OurWork .work-item p {
    color: #555;
    font-size: 1.2em;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .OurWork .work-items {
        flex-direction: column;
        align-items: center;
    }

    .OurWork .work-item {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .OurWork .work-item img {
        margin-bottom: 20px;
    }
}

/* Estilos para a nova seção Goals */
.Goals {
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.Goals h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
}

.Goals p {
    color: #333;
    margin-bottom: 40px;
    font-size: 1.2em;
}

.goal-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
}

.goal-item {
    background-color: #58D2FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
}

.text-goals {
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}

.text-goals h2 {
    font-size: 1.7rem;
}

.text-goals p {
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .goal-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .goal-item {
        width: 100%;
    }
}

/* New section styles for OurCause */
.OurCause {
    background-color: #F9F9F9;
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.OurCause h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

.OurCause .intro {
    color: #555;
    margin-bottom: 40px;
    font-size: 1.2em;
    text-align: center;
}

.OurCause .cause-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.OurCause .cause-item {
    background-color: #F0EDF2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.OurCause .cause-item img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .OurCause .cause-items {
        flex-direction: column;
        align-items: center;
    }

    .OurCause .cause-item {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .OurCause .cause-item img {
        margin-bottom: 20px;
    }
}

/* New section styles for OurTeam */
.OurTeam {
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.OurTeam h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    width: 247.2px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
    text-align: center;
    flex-direction: column;
}

.team-member img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
    border: 20px solid #9B33FD; 
    border-radius: 16px;
}

.team-member p strong {
    display: block;
}

@media (max-width: 768px) {
    .team-member {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .team-member {
        width: calc(100% - 20px);
    }
}
