.backgroundLeft {
    height: 88Vh;
    width: 100%;
    background: url('../../images/quintaTela_bg.png') top 0 left 0/auto 35% no-repeat;
    position: absolute;
    z-index: -1;
    left: 0;
}

#quintaTela section {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 2rem;
    gap: 2rem;
    & div {
        width: 20rem;
        height: 30rem;
        background: #b3b3b3;
        border-radius: 2rem;
        opacity: 0.6;
    }
}

#quintaTela section div:nth-child(1) {
    background: url('https://i.pinimg.com/originals/f4/6c/4f/f46c4f0c2842ed57ac3670e35faaa411.gif') center/cover no-repeat;
}

#quintaTela section div:nth-child(2) {
    background: url('https://img.itch.zone/aW1nLzc2OTExNjIuZ2lm/original/M5ZSNh.gif') center/cover no-repeat;
}

#quintaTela section div:nth-child(3) {
    background: url('https://media3.giphy.com/media/GXZVx7kiFQ1IuZpB8o/200w.gif?cid=6c09b952onrau9ey2j40tjzenz2w8keiqaay05bxjtmhsccr&ep=v1_gifs_search&rid=200w.gif&ct=g') center/cover no-repeat;
}

#quintaTela article {
    position: absolute;
    align-self: flex-end;
    background: #FFFFFF;
    padding: 2rem 4rem;
    margin-block: 4rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
}