#quintaTela .backgroundLeft {
    height: 88Vh;
    width: 100%;
    background: url('../../images/quintaTela_bg.png') top 0 left 0/20% no-repeat;
    position: absolute;
    z-index: -1;
    left: 0;
}