#landingPage {
    & article {
        width: 35%;
    }
}

.frames {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    padding-inline: 10vw;
    /* gap: 4rem; */
}

/* @media (max-width: 1280px) { 
    .frames {
        padding-block: 5vh;
    }     
} */