#landingPage {
    & article {
        width: 30%;
    }
}

.frames {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    gap: 4rem;
}

.destaqRoxo {
    color: rebeccapurple;
}

.destaqAzul {
    font-weight: 600;
    color: lightblue;
}

.destaqBranco {
    font-weight: 600;
    color: #FFFFFF;
}