#sextaTela {
    flex-flow: column;
    background: none;
}

#sextaTela article {
    width: fit-content;
    text-align: center;
}

#sextaTela section {
    display: flex;
    gap: 2rem;
}

.plano {
    background: #FFFFFF;
    padding: 4rem;
    border-radius: 1rem;
}

#sextaTela .backgroundLeft, #sextaTela .backgroundRight, #sextaTela .backgroundMid {
    height: 110%;
    width: 50%;
    background: url('../../images/sextaTela_bg2.png') bottom 0 left 0/35% no-repeat;
    position: absolute;
    z-index: -1;
}

#sextaTela .backgroundLeft {
    left: 0;
}

#sextaTela .backgroundMid {
    height: 88vh;
    width: 100%;
    background: url('../../images/sextaTela_bg.png') bottom/cover repeat-x;
    z-index: -2;
}

#sextaTela .backgroundRight {
    height: 110%;
    background: url('../../images/sextaTela_bg3.png') top 0 right 0/35% no-repeat;
    right: 0;
}