#Cadastro h1{
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;

}

#Cadastro .caixa-esquerda-cadastro h1{
    font-size: 1.5rem;
}

#Cadastro .termosPrivacidade {
    width: 250px;
}

#Cadastro article h3{
    color: #000;
    font-size: 1rem;
}

.formaCadastro1{
    position: fixed;
    left: 0;
    bottom: 0;
}

.formaCadastro2{
    position: absolute;
    right: 0;
    top: 0;
}

.cadastroHeader {
    background: none;
}

.cadastroHeader::after {
    box-shadow: none;
}


#Cadastro header .formaCadastro2{
    display: flex;
    align-items: flex-end;
}

#Cadastro article {
    display: flex;
    align-items: center;
    width: 700px; 
    height: 88vh; 
    margin: 0 auto;
}

#Cadastro img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.caixa-esquerda-cadastro h1 {
    padding: 200px 110px;
    background-color: #29F39B;
    background-image: url('./images/Group-formas.webp');
    background-position: center;
    color: #f3f3f3;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(85, 85, 85);
    position: relative;
    width: 70%; /* Ajuste conforme necessário */
    height: 100%;
}
.caixa-direita-cadastro h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.caixa-direita-cadastro h3 {
    float: left;
}

.caixa-direita-cadastro p {
    display: flex;
    flex-direction: column;
}

.caixa-direita-cadastro button {
    border: none;
    color: #1C0240;
    font-size: 1rem;
}

.caixa-direita-cadastro button:hover {
    color: #059c5b;
}

.caixa-direita-cadastro #submit{
    color: #000;
    background-color: #29F39B;
}

.caixa-direita-cadastro #submit:hover{
    color: #000;
    background-color: #00ff91;
}

.caixa-direita-cadastro {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 4px rgba(85, 85, 85, 0.466);
    border-radius: 10px;
    /* position: relative; */
    width: 45%; /* Ajuste conforme necessário */
    height: 70%;
    background-color: #f3f3f3;
    margin-left: 5%; /* Ajuste conforme necessário */
    z-index: 1;
}

.caixa-direita-cadastro > * {
    flex: 1 1 auto;
}

.checkbox-group #aceitar_politicas{
    border: none;
    box-shadow: none;
    width: 20px;
    height: 20px;
    margin: 6px 5px;
}

.caixa-direita-cadastro .checkbox-group{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;
    margin: 8px 0px;
}

#CaixaCadastro p {
    font-size: 0.9rem;
    
    /* width: 135px; */
}

#CaixaCadastro .letraNegrito {
    display: inline; 
    color: #AC54FF;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
}

#CaixaCadastro .letraNegrito:hover {
    color: blueviolet;
}

.caixa-direita-cadastro {
input,
input[type="email"],
input[type="password"] {
    margin: 6px 0px;
    width: 250px;
    height: 30px;
    border: none;
    box-shadow: 3px 3px 4px rgba(85, 85, 85, 0.466);
    border-radius: 8px;
    text-align: center; 
    line-height: 20px; 
}
}

#CaixaCadastro form #submit  {
    display: block; 
    margin: auto;
    margin-top: 10px;
}

.conecte-se-container {
    display: flex; 
    align-items: baseline; 
    justify-content: space-between;
    width: fit-content; 
}

.conecte-se-container p {
    padding-right: 5px; /* Adiciona um preenchimento à direita do parágrafo */
}
