#CaixaCadastro {
    margin-left: auto;
    margin-right: auto;
}

#Cadastro h1{
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

#Cadastro .caixa-esquerda-cadastro h1{
    font-size: 1.5rem;
}

#Cadastro .termosPrivacidade {
    width: 250px;
}
#Cadastro article h3 {
    color: #000;
    font-size: 1.25rem;
}

.formaCadastro1 {
    position: fixed;
    left: 0;
    bottom: 0;
}

.formaCadastro2 {
    position: absolute;
    right: 0;
    top: 0;
}

.cadastroHeader {
    background: none;
}

.cadastroHeader::after {
    box-shadow: none;
}

#Cadastro header .formaCadastro2 {
    display: flex;
    align-items: flex-end;
}

#Cadastro article {
    display: flex;
    align-items: center;
    width: 700px;
    height: 88vh;
    margin: 0 auto;
}

#Cadastro img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}



.caixa-esquerda-cadastro h1 {
    padding: 200px 110px;
    background-color: #9B33FD;
    background-image: url('./images/image1.png');
    background-position: center;
    color: #f3f3f3;
    font-size: 26px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(85, 85, 85);
    position: relative;
    width: 70%; /* Ajuste conforme necessário */
    height: 100%;
}

.caixa-direita-cadastro h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.caixa-direita-cadastro h3 {
    float: left;
}

.caixa-direita-cadastro p {
    display: flex;
    flex-direction: column;
}

.caixa-direita-cadastro button {
    border: none;
    color: #1C0240;
    font-size: 1rem;
}

.caixa-direita-cadastro button:hover {
    color: #FFB412;
}

#submit {
    color: #000;
    background-color: #FFB412;
}

#submit:hover {
    color: #000;
    background-color: #FFB412;
}

.caixa-direita-cadastro {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 4px rgba(85, 85, 85, 0.466);
    border-radius: 10px;
    width: 45%; /* Ajuste conforme necessário */
    height: 70%;
    background-color: #f3f3f3;
    margin-left: 5%; /* Ajuste conforme necessário */
    z-index: 1;
}

.checkbox-group #aceitar_politicas {
    border: none;
    box-shadow: none;
    width: 20px;
    height: 20px;
    margin: 6px 5px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;
}

.checkbox-group a {
    color: #000;
    text-decoration: none;
}

#CaixaCadastro p {
    font-size: 0.9rem;
}

#CaixaCadastro strong {
    display: inline;
    color: blueviolet;
    cursor: pointer;
    font-size: 0.9rem;
}

.caixa-direita-cadastro input,
.caixa-direita-cadastro input[type="email"],
.caixa-direita-cadastro input[type="password"] {
    margin: 6px 0px;
    width: 250px;
    height: 30px;
    border: none;
    box-shadow: 3px 3px 4px rgba(85, 85, 85, 0.466);
    border-radius: 8px;
    text-align: center;
    line-height: 20px;
}

#CaixaCadastro form #submit {
    display: block;
    margin: auto;
}

.conecte-se-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    #Cadastro .caixa-esquerda-cadastro {
        display: none;
    }
    #Cadastro .caixa-direita-cadastro {
        width: 70%; /* Ajuste para ocupar a maior parte da tela */
        height: auto; /* Ajuste a altura para caber no conteúdo */
        margin: 20px auto; /* Ajuste de margem para centralizar */
        padding: 20px; /* Reduzir padding para se ajustar melhor às telas pequenas */
    }
    #Cadastro .formaCadastro2 {
        display: none;
    }
    #Cadastro article {
        width: 100%; /* Ajuste a largura para ocupar toda a tela */
        height: auto; /* Ajuste a altura para caber no conteúdo */
        flex-direction: column; /* Mude a direção do flex para coluna */
        padding: 10px; /* Adicione um padding para espaçamento */
    }

    #Cadastro .formaCadastro2{
        width: 100px;
        height: 150px;
    }
}


#Cadastro input {
    font-size: 1rem;
    padding: 0.25rem;
    margin: 0.25rem;
}

@media screen and (max-width: 664px) {
    #Cadastro .caixa-esquerda-cadastro {
        display: none;
    }
    #Cadastro .caixa-direita-cadastro {
        width: 70%; /* Ajuste para ocupar a maior parte da tela */
        height: auto; /* Ajuste a altura para caber no conteúdo */
        margin: 20px auto; /* Ajuste de margem para centralizar */
        padding: 20px; /* Reduzir padding para se ajustar melhor às telas pequenas */
    }
    #Cadastro .formaCadastro2 {
        display: none;
    }
    #Cadastro article {
        width: 100%; /* Ajuste a largura para ocupar toda a tela */
        height: auto; /* Ajuste a altura para caber no conteúdo */
        flex-direction: column; /* Mude a direção do flex para coluna */
        padding: 10px; /* Adicione um padding para espaçamento */
    }

    #Cadastro .formaCadastro2{
        width: 100px;
        height: 150px;
    }
}

@media screen and (max-width: 970px) {
    .caixa-esquerda-cadastro {
        display: none;
    }

    #Cadastro form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
