#login h1{
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.forma1 {
    position: absolute;
    left: 0;
    top: 10;
}

.forma2 {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
}

.loginHeader {
    background: none;
}

.loginHeader::after {
    box-shadow: none;
}

#login article {
    display: flex;
    align-items: center;
    position: relative;
    width: 600px;
    height: 300px;
    margin: 50px 310px;
    padding: 7%;
}

#login img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#CaixaLogin p {
    display: flex;
    align-items: baseline;
    font-size: 1rem;
    width: 300px;
    /* height: 30px; */
}

#CaixaLogin strong {
    color: #AC54FF;
    cursor: pointer;
}

#CaixaLogin strong:hover {
    color: blueviolet;
}

.caixa-esquerda-login h1 {
    padding: 210px 110px;
    background-color: #AC54FF;
    background-image: url('./images/formas-login.webp');
    background-position: center;
    color: #f3f3f3;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(85, 85, 85);
    position: relative;
    width: 60%;
}

#CaixaLogin h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#CaixaLogin h3 {
    font-size: 1.25rem;
    text-align: left;
}

#CaixaLogin p {
    display: flex;
    flex-direction: column;
}

#CaixaLogin button {
    border: none;
    color: #1C0240;
    font-size: 0.9rem;
}

#CaixaLogin button:hover {
    color: #701DCD;
}

#CaixaLogin {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 4px rgba(85, 85, 85, 0.466);
    border-radius: 10px;
    background-color: #f3f3f3;
    margin-left: -4%;
    z-index: 1;
}

#login .formLogin input {
    /* input,
    input[type="email"],
    input[type="password"] { */
        margin: 6px 0px;
        width: 250px;
        border: none;
        box-shadow: 3px 3px 4px rgba(85, 85, 85, 0.466);
        border-radius: 8px;
        text-align: center;
        /* Centralizar o texto do placeholder horizontalmente */
        line-height: 40px;
    /* } */
}

#CaixaLogin .formLogin #submit {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: block; 
    /* margin: auto; */
    height: 50px;
    width: 150px;
    color: #000;
    background-color: #29F39B;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#CaixaLogin .formLogin  #submit:hover {
    background-color: #00ff91;
}

/* Estilização do formulário para centralizar o conteúdo */
#login form {
    display: flex;
    flex-direction: column;
}

#CaixaLogin p {
    display: inline; 
    font-size: 1rem;
    width: auto;
}

#CaixaLogin strong {
    display: inline; 
    color: #A443FF;
    cursor: pointer;
}

#CaixaLogin form #submit  {
    display: block; 
    margin: 20px auto;
}

.cadastre-se-container {
    display: flex; 
    align-items: baseline; 
    justify-content: space-between;
    width: fit-content; 
}

.cadastre-se-container p {
    padding-right: 5px; /* Adiciona um preenchimento à direita do parágrafo */
}