.telaGame {
    box-sizing:border-box;
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    
}

.game-container {
    position: relative;
    background: #9ae2ff;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 1px solid #fff;
  
    transform: scale(2.5) translateY(50%);
  }
  
  .game-container canvas {
    image-rendering: pixelated;
  }