.telaGame {
  box-sizing: border-box;
  background: rebeccapurple;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 88vh;
  width: 100vw;
  padding-top: -12vh;
}

.game-container {
  position: relative;
  background: #9ae2ff;
  width: 496px;
  height: 192px;
  margin: 0 auto;
  outline: 1px solid #fff;
  transform: scale(3) translateY(37%);
}

.game-canvas {
  image-rendering: pixelated;
}