.telaGame {
  box-sizing: border-box;
  background: rebeccapurple;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 88vh;
  width: 100vw;
}

.game-container {
  position: relative;
  background: #7d5909;
  width: 496px;
  height: 192px;
  margin: 0 auto;
  outline: 1px solid #fff;
  transform: scale(3) translateY(37%);
}

.game-canvas {
  image-rendering: pixelated;
}

 .resetaStorage {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  bottom: 0;
} 

@media (width: 1366px) {
  .game-container {
    transform: scale(2.6) translateY(34%);
  }
}