#voluntarioCadastro * {
    box-sizing: border-box;
}

#voluntarioCadastro .main-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}

#voluntarioCadastro a {
    text-decoration: none;
}

#voluntarioCadastro .login-wrapper {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 7px 6px rgba(39, 38, 38, 0.773);
    -moz-box-shadow: 0px 0px 7px 6px rgba(0, 0, 0, 0.112);
    box-shadow: 0px 0px 7px 6px rgba(0,0,0,0.2); 
    width: 100%;
    max-width: 900px;
    min-height: 520px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

/* Estilos do formulario */
#voluntarioCadastro .login-wrapper .form-wrapper {
    min-width: 45%;
    display: flex;
    flex-direction: column;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-top: 15px;
    font-weight: 900;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-header .fa-arrow-left,
#voluntarioCadastro .login-wrapper .form-wrapper .form-header .register-link,
#voluntarioCadastro .login-wrapper .form-wrapper .form-container .forgot-pass {
    color: #686b72;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container {
    padding: 0px 20px;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container .form-messages {
    text-align: left;
    line-height: 20px;
    margin-bottom: 20px;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container .form-messages h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container .formVoluntario input {
    width: 100%;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: none;
    padding: 10px;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container .formVoluntario input:focus {
    outline: 2px solid #9B33FD;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container .formVoluntario a {
    display: block;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container .formVoluntario .forgot-pass {
    text-align: right;
    font-weight: 900;
    margin-top: 10px;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container .formVoluntario .login-button {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: #9B33FD;
    color: #fff;
    text-align: center;
}

/* Separador */
#voluntarioCadastro .login-wrapper .form-wrapper .form-container .separator {
    border: 2px solid #e8e9ea;
    margin-bottom: 20px;
}

/* login */
#voluntarioCadastro .login-wrapper .form-wrapper .form-container .login-options {
    margin: 10px 0;
    text-align: center;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container .login-options .login-text {
    margin-bottom: 10px;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container .login-icons {
    font-size: 20px;
}

#voluntarioCadastro .login-wrapper .form-wrapper .form-container .login-icons .fa-facebook-square,
#voluntarioCadastro .login-wrapper .form-wrapper .form-container .login-icons .fa-google,
#voluntarioCadastro .login-wrapper .form-wrapper .form-container .login-icons .fa-twitter {
    color: #9B33FD;
    padding: 0px 10px;
}

/* Imagen*/
#voluntarioCadastro .image-wrapper {
    background: url(images/CaoVivi\(2\).png);
    width: 55%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#voluntarioCadastro .image-wrapper .image-message {
    color: #fff;
    line-height: 20px;
    padding: 20px 40px 40px 20px;
    display: flex;
    flex-direction: row;
}

#voluntarioCadastro .image-wrapper .image-message .image-hr-container {
    margin: 5px 20px;
}

#voluntarioCadastro .image-wrapper .image-message .image-hr-container .image-hr {
    border: 1px solid #e8e9ea;
    min-width: 30px;
}

#voluntarioCadastro .image-wrapper .image-message .image-text h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.politicaVoluntarios {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.9rem;
}

.formVoluntario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1573px) {
    #voluntarioCadastro .login-wrapper {
        min-height: 350px;
    }

    #voluntarioCadastro .form-wrapper {
        min-height: 250px;
        padding: 10px;
    }

    #voluntarioCadastro .form-container {
        padding: 10px;
        
    }

    #voluntarioCadastro .form-messages h2 {
        font-size: 18px;
    }

    #voluntarioCadastro .formVoluntario input {
        width: 90%;
        height: 35px;
        margin-bottom: 10px;
        padding: 5px;
    }

    #voluntarioCadastro .formVoluntario .forgot-pass {
        font-size: 0.8rem;
        margin-top: 5px;
    }

    #voluntarioCadastro .formVoluntario .login-button {
        margin-top: 10px;
        padding: 8px;
    }

    #voluntarioCadastro .politicaVoluntarios {
        font-size: 0.7rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #voluntarioCadastro .image-wrapper {
        width: 65%;
        padding: 10px;
    }

    #voluntarioCadastro .image-wrapper .image-message {
        padding: 10px 20px;
    }

    #voluntarioCadastro .image-wrapper .image-message .image-text h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 717px) {
    #voluntarioCadastro .image-wrapper {
        display: none;
    }
}
