.App {
  padding-top: 12vh;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
font-size: 1.5rem
}

.destaqRoxo {
  color: #9B33FD;
}


.destaqBranco {
  font-weight: 600;
  color: #FFFFFF;
}