.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: #000000;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.destaqRoxo {
  color: rebeccapurple;
}

.destaqAzul {
  font-weight: 600;
  color: lightblue;
}

.destaqBranco {
  font-weight: 600;
  color: #FFFFFF;
}