.App  {
  padding-top: 12vh;
}

/* .App .container_conteudo6{
  padding-top: 0 !important;
} */

h1 {
  font: 500 3rem 'Passion One', sans-serif;
  font-style: normal;
}

h2 {
  font-size: 2rem;
}

.destaqRoxo {
  color: #9B33FD;
}

.destaqAzul {
  font-weight: 600;
  color: #FF486D;
}

.destaqPreto {
  font-weight: 600;
  color: #070707;
}

.languageButton {
  background: #FFFFFF;
  border-radius: 0.5rem;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 40vh;
  right: 0.4vw;
  z-index: 6;

  & select {
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; 
  }
}

.fontEmoji *{
    font-family: "Noto Color Emoji", sans-serif; 
}