.enabled {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
  }
  
  .active {
    position: fixed;
    bottom: 10px;
    right: 50px;
    z-index: 10000;
  }
  
  .vw-plugin-wrapper {
    display: none;
  }
  
  .vw-plugin-top-wrapper {
    display: none;
  }
  