:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
}


.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 36px;
  padding: 4px;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
}
.TextMessage_p{
  margin: 0;
  font-size: 9px;
  padding: 0;
  -webkit-appearance: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;

  position: absolute;
  left: 10;
  bottom: 40%;
}

.TextMessage_button{
  margin-left: 85%;
}