:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
}

.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 36px;
  padding: 4px;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
  display: flex;
  flex-direction: row;
}

.TextMessage > div{
  display: flex;
  flex-direction: column;
  gap: 400px;
}

.TextMessage_p{
  /* margin: 0; */
  font-size: 0.4rem;
  /* padding: 0; */
  -webkit-appearance: none;
  /* border: 0; */
  font-family: inherit;
  cursor: pointer;
  /* left: 10; */
  bottom: 30%;
  position: absolute;
}

.TextMessage_button{
  margin-left: 80%;
  font-size: 0.5rem;
  
}

.nomeDialogo {
  font-size: 0.6rem;
  font-weight: 600;
  margin-bottom: 50px;
}