#quartaTela {
    & article p {
        width: 80%;
    }
    & figure img {
        height: 30rem;
    }
}

#quartaTela .backgroundLeft, #quartaTela .backgroundRight {
    height: 88vh;
    width: 50%;
    position: absolute;
    z-index: -1;
}

#quartaTela .backgroundLeft {
    background: url('../../images/quartaTela_bg.webp') bottom 0 left 2.5%/auto 30% no-repeat;
    left: 0;
}

#quartaTela .backgroundRight {
    background: url('../../images/quartaTela_bg2.webp') top 0 right 2.5%/auto 30% no-repeat;
    right: 0;
}