#quartaTela {
    background: none;
    & article p {
        width: 80%;
    }
    & figure img {
        height: 30rem;
    }
}

#quartaTela .backgroundLeft, #quartaTela .backgroundRight {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: -1;
}

#quartaTela .backgroundLeft {
    background: url('../../images/free_bg.png') bottom 100% left 97.5%/25% no-repeat;
    left: 0;
    transform: rotateX(180deg) rotateY(180deg);
}

#quartaTela .backgroundRight {
    background: url('../../images/free_bg.png') top 0 right 2.5%/25% no-repeat;
    right: 0;
}